 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header header3" style="background-image: url('#')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Create New post</h1>

                        <hr class="small">
                        <span class="subheading">Have An Idea or Article ? There's A Nice Form Below , <strong>Use It</strong> .</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	
	 <div class="lightbg" style="background-color:#f9f7f7;">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

					<%= render "form" %>

	            </div>
	        </div>
	    </div>
	</div>

<h1><%= link_to "BACK", posts_path %></h1>


  
