.userfoto{
	width:500px;
	height:500px;
	
}
.userfoto1{
	width:800px;
	height:800px;
	background-image:url('user.png');
	background-size:cover;
        background-position:center center;
	background-repeat:repeat-x;
}
.panel{
	
	
	border-radius: 5px; 
}
